// Define variables for your color scheme

// For example:
$red: #EE5F5B;
// $blue: #469AE0;
$light-blue: #a8c6f7;
$blue: #04378c;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$dark-green: #155e63;
$light-green: #76b39d;
$gray: rgb(80, 80, 80);
$light-gray: #fafafa;

$light-cyan: #C2DFE3;

