<div class="footer">
  <div class="footer-links">
    <ul>
      <li>Nous écrire</li>
      <li>Qui sommes-nous?</li>
      <li>Mentions légales</li>
    </ul>
  </div>
  <div class="footer-copyright">
    Retrouvez My Holidays Book sur  <i class="fab fa-facebook"></i>
  </div>
</div>
