<div class="home-banner">
  <div class="home-banner-content">
    <h1>My Holidays Book</h1>
    <p>Conservez vos voyages, partagez vos bons plans</p>
  </div>

    <%= link_to "Entrer", trips_path, class: "btn-home" %>

</div>
