<div class="home-banner">
  <div class="home-banner-content">
    <h1>My Holidays Book</h1>
    <p>Une nouvelle façon de voyager</p>
    <!-- <p>Conservez vos voyages, partagez vos bons plans, inspirez-vous pour vos prochaines escapades</p> -->
  </div>
  <div class="home-links">
    <div class="search banner-part btn-home">
      <%= link_to "", trips_path, class: "card-show-link"  %>
      <i class="fas fa-search"></i>
      <p>Inspirez-vous et retrouvez des recommandations pour vos futurs voyages</p>
    </div>
    <div class="my-trips banner-part btn-home">
      <% if user_signed_in? %>
        <%= link_to "", user_path(current_user), class: "card-show-link" %>
      <% else %>
         <%= link_to "", new_user_session_path, class: "card-show-link" %>
      <% end %>
         <i class="fas fa-bookmark"></i>
      <p>Conservez et partagez vos voyages et recommandations</p>
    </div>
  </div>
</div>
