.home-banner{
  width: 100vw;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // justify-content: space-around;
  flex-direction: column;
  background-image:
    linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.2)),
    asset-url('home2.jpeg');
  background-size: cover;
}

.home-banner-content{
  color: white;
  text-align: center;
  h1{
    color: white;
    font-size: 50px;
  }
}

.trip-banner{
  position: relative;
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  // height: 400px;

  h1{
    font-size: 30px;
    font-style: bold;
    color: white;
  }
  h4 {
    color: white;
    font-style: lighter;
  }
  p {
    color: white;
  }
}

// .edit-trip-link{
//   position : absolute;
//   top: 12px;
//   right: 100px;
// }

.step-banner-part{
  width: 50%;
  height: 400px;
  text-align: center;
  p{
    font-size: 16px;
    margin: 20px;
  }
}

.banner-part{
  // width: 60px ;
  text-align: center;
  margin-top: 40px;
p{
  margin: 20px
}
}
