.cards{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card{
  width: 300px;
  height: 200px;
  border-radius: 4px;
  position: relative;
  box-shadow: 1px 1px 1px $light-gray;
  padding: 10px;
  margin: 20px 30px;
  border: solid 1px $light-gray;
  display: flex;
   align-items: center;
  justify-content: center;
  flex-direction: column;
  h3 {
    font-size :20px;
    color: white
  }
  p {
    font-size: 14px;
    color: $light-gray;
  }
  &:hover{
    width: 315px;
    height: 215px;
    transition: all ease 0.4s;
  margin: 5px;
  }
}
.card-title{
  position: absolute;
  top: 5px;
  left:5px;
  width: 75%;
  h3{
  text-align: left;
    margin:0;
  }
}
.card-dates{
  position: absolute;
  bottom: 5px;
  border-top: solid 1px white;
  width: 90%;
  text-align: center;
}

.card-show-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-add-trip{
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}


.blank-steps{
  background-color: #D23333;
  text-align: center;
  border-radius: 4px;
  width: 150px;
  padding: 4px;
  color: white;
  box-shadow: 1px 1px 1px white;
  margin-top: 10px;
}

.edit-links{
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  a {
  color:white;
  }

}
