.steps-cards-container{
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.step-card{
  max-width: 900px;
  box-shadow: 1px 1px 1px $light-gray;
  border: solid 1px $light-gray;
  padding: 10px;
  margin: 15px 0;
  // position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  p {
    font-size: 16px;
  }
  h3{
    margin: 5px;
  }
  li {
    font-size: 14px;
  }
  h4{
    top-margin: 10px;
  }
}

.step-card-photo{
  display: flex;
  align-items: center;
  justify-content: center;
  // position: absolute;
}

.step-card-title{
  color: white;
  }

.step-card-parts{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.step-card-part{
  width: 400px;
  height: 300px;
}

.step-card-reco{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.step-card-reco-content{
  padding: 5px;
  ul{
    list-style-type: none;
    padding: 0;
  }
}
.step-card-reco{
  position: relative;
}
.reco-avatar{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  padding: 10px;
  margin: 20px;
  background-color: #a8c6f7 ;
  color: white;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reco-avatar:hover{
  background-color: #04378c;
  width: 80px;
  height: 80px;
  transition: all ease 0.4s;
  cursor: pointer;
}

.step-card-comment{
  p {
    font-size: 14px;
  }
}

.close{
  position: absolute;
  top: 5px;
  right: 5px;
}

.step-card-links{
  text-align: center;
  i{
  color: white;
  }
}
// _-------------------------------------------------
.love-tag{
  color: #D23333;
}

.step-destroy{
  position: absolute;
  top: -10px;
  right: 10px;
}


.step-card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.reco-item{
  border-top: solid 1px $light-gray;
  border-bottom: solid 1px $light-gray;
  width: 60vw;
  padding:10px;
  display: flex;
}

.type-item{
width: 10vw;
}

.content-item{
width: 45vw;
ul{
  padding-left:0px;
  list-style-type: none;
}

}
.links-item{

}
