.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.newtrip-form {
  width: 380px;
}

.date-form{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
