.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.newtrip-form {
  width: 380px;
}

.date-form{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

label {
  color: $blue;
}

.form-group {
  border-bottom: solid 1px $blue;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.date-form {
  display: flex;
}

.optional {
  font-style: italic;
  font-weight: lighter;
}
