.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.newtrip-form {
  width: 380px;
}

.date-form{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

label {
  color: $blue;
}

.form-group, .form-item {
  border-bottom: solid 1px $blue;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.date-form {
  display: flex;
}

.optional {
  font-style: italic;
  font-weight: lighter;
}

.hotel-price{
  display:flex;
}

.collection_radio_buttons {
  font-size: 16px;
  font-weight: lighter;
  font-style: normal;
  margin-left: 5px;
}
.form-label{
  color: $blue;
  font-size: 18px;
  border: none;
}

.input-price{
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.form-label-price {
  font-size: 14px;
  color: $blue;
  font-style: italic;
}
