.users-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.users-search-result{
  margin: 20px auto;

  max-width: 600px;
   box-shadow: 1px 1px 1px $light-gray;
  border: 1px solid #efefef;
  p{
    margin: 10px 5px;
    font-size: 16px;
  }
}


.user-container{
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
}

.user-trips-container{
  flex: 1 100%;
  background-color: white;
  margin: 0 15px;
  box-shadow: 1px 1px 1px $light-gray;
  border: 1px solid #efefef;
}

.user-network{
  width: 300px;
  background-color: white;
  margin: 0 15px;
  box-shadow: 1px 1px 1px $light-gray;
  border: 1px solid #efefef;
  margin-bottom: 20px;
}
@media(max-width: 600px) {
  .user-container {
    flex-direction: column;
  }
  .user-trips-container{
    width: 100%;
    margin: 10px 0;
  }
  .user-networks{
    width: 100%;
    margin: 10px 0;
  }
  .user-network{
    width: 100%;
    margin: 10px 0;
  }
}

.user-search{
  max-width: 600px;
}
